/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #FDFBF7;
}
@font-face {
  font-family: 'Tommy';
  src:  url('./assets/fonts/MADE_TOMMY_Thin_PERSONAL USE.otf') format('opentype'),
  url('./assets/fonts/MADE_TOMMY_Regular_PERSONAL USE.otf') format('opentype'),
  url('./assets/fonts/MADE TOMMY Medium_PERSONAL USE.otf') format('opentype');
  /* Add more file formats if your font supports them */
}
