.nav_container {
  .mio_nav {
    height: 64px;
    width: 100%;
    background-color: #fdfbf7;
    border-bottom: 1px solid #faf0e6;
    @media (min-width: 768px) {
      height: 48px;
    }

    .mio-nav_title {
      font-family: 'EB Garamond', serif;
      font-weight: 700;
      font-size: 20px;

    }

    .nav_link_container {
      display: flex;
      align-items: center;
      font-family: 'Tommy', sans-serif;
      padding: 0 24px;
      border-left: 1px solid #b9beb9;
      @media screen and (max-width: 576px){
        padding: 0 20px;
      }
      @media screen and (max-width: 420px){
        padding: 0 15px;
      }
      .nav_title{
        cursor: pointer;
      }
      span {
        font-weight: 300;
        font-size: 14px;

        &.dot {
          color: grey;
        }
        @media screen and (max-width: 410px){
          font-size: 12px;
        }
      }

    }
  }
}
.main {
  background: #faf0e6;
  color: #2d2d2d;
  position: relative;
  overflow-x: hidden;

  .plant-1{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30rem;
    opacity: 55%;
    @media screen and (max-width: 768px) {
      z-index: -2;
      opacity: 55%;
    }

    @media screen and (min-width: 768px) {
      z-index: -2;
      opacity: 10%;
    }

    @media screen and (min-width: 992px) {
      z-index: -2;
      opacity: 55%;
    }
  }
  .lady{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 16rem;
    opacity: 85%;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      opacity: 75%;
      z-index: -3;
      //height: 20rem;
    }
  }
  .change-color{
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      color: #6F9700;
    }
  }


  .plant-2{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30rem;
    opacity: 55%;
    @media screen and (max-width: 768px) {
      z-index: -2;
      opacity: 55%;
    }

    @media screen and (min-width: 768px) {
      z-index: -2;
      opacity: 10%;
    }

    @media screen and (min-width: 992px) {
      z-index: -2;
      opacity: 55%;
    }
  }
  .main_col {
    min-height: 350px;
    position: relative;
    overflow-x: hidden;
    @media (min-width: 768px) {
      min-height: calc(100vh - 160px);

    }

    .main_heading_container {
      .mio{
        position: relative;

        //&:after {
        //  content: url("data:image/svg+xml,%3Csvg class='text-animation-svg squiggle-svg--type-1 text-animation-0' preserveAspectRatio='none' viewBox='0 0 153 49' fill='none' xmlns='http://www.w3.org/2000/svg' style='top: 51.2px; left: 115.228px; width: 302.575px; height: 83.2px;'%3E%3Cpath d='M94.6843 1C71.3794 5.04227 46.5308 6.85224 24.5508 16.3233C17.0382 19.5605 7.35727 23.0275 2.6753 30.3292C-4.33262 41.2582 12.4558 42.7496 19.6973 44.0577C44.8543 48.6022 71.561 48.9403 96.9378 46.4845C110.837 45.1394 125.829 42.4413 138.574 36.4308C141.196 35.1942 153.661 28.4369 152.407 24.2969C151.287 20.6012 144.459 18.3608 141.521 17.086C135.46 14.4568 113.562 8.60984 102.465 8.60984C65.6836 4.17077 69.1715 6.70738 25.732 6.70738' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
        //  position: absolute;
        //  top: -50%;
        //  left: 0;
        //}

      }
      .text-animation-svg path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: text-animation-draw 2s ease-in-out forwards;
      }

      @keyframes text-animation-draw {
        0% {
          stroke-dashoffset: 1000;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }
      .main_heading {
        font-size: 48px;
        line-height: 56px;
        font-family: 'EB Garamond', serif;


        @media screen and (max-width: 576px) {
          font-size: 45px;
        }
        @media screen and (max-width: 409px) {
          font-size: 40px;
        }
        @media screen and (min-width: 768px) and (max-width: 992px) {
          font-size: 42px; /* Add your desired font-size value */
          line-height: 1.5; /* Add your desired line-height value */
          z-index: 1;
        }

        @media (min-width: 1025px) {
          font-size: 56px;
          line-height: 64px;
        }

      }

    }


    .video_container {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%; /* Set the video container height to 100% of its parent (main_col) */
      .video-cover {
        width: 100%;
        height: 100%;
        object-fit: cover; /* This property ensures that the video covers the entire container without stretching or distorting */
      }
    }
  }
}

.intro-section {
  background: #FDFBF7;
  color: #2d2d2d;
  overflow-x: hidden;
  position: relative;

  .intro_section_imageright{
    position: absolute;
    height: 30rem;
    right: -0.9rem;
    bottom: 0;

    @media screen and (max-width: 992px) {
      display: none;
      opacity: 5%;
    }
    @media screen and (min-width: 992px) {
      opacity: 45%;
    }

  }
  .intro_section_imageleft{
    position: absolute;
    height: 30rem;
    bottom: 0;
    left: -0.9rem;

    @media screen and (max-width: 992px) {
      opacity: 15%;
    }

    @media screen and (min-width: 992px) {
      opacity: 45%;
    }


  }
  .intro-section_container {
    padding: 120px 0;

    .intro-content {
      font-size: 19px;
      line-height: 48px;
      font-weight: 300;
      @media (max-width: 992px) {
       line-height: 35px;
      }
      @media screen and (min-width: 576px) and (max-width: 768px) {
        line-height: 35px;
      }
      @media screen and (min-width: 768px) and (max-width: 992px){
        line-height: 40px;
      }
      @media (min-width: 992px) {
        font-size: 30px;
      }
      .intro-section_bold {
        font-family: 'EB Garamond', serif;
        font-size: 22px ;
        @media screen and (max-width: 576px) {
          font-family: 'Tommy', sans-serif;
          line-height: 35px;
          font-size:  19px;
          font-weight: bold;
        }
        @media screen and (min-width: 576px) and (max-width: 992px){
          font-family: 'EB Garamond', serif;
          line-height: 40px;
        }
        @media (min-width: 992px) {
          font-family: 'EB Garamond', serif;
          text-align: justify;
          font-size: 33px;
          line-height: 50px;
        }
      }
    }
  }
}

.location {
  background: #faf0e6;
  color: #2D2D2D;
  padding-top: 80px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .map{
    @media screen and (max-width: 576px){
      height: 250px;
      width: auto;
    }
    @media screen and (min-width: 576px){
      height: 400px;
      width: auto;
    }
  }
  .location_heading {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    color: #2D2D2D;
    @media (min-width: 1025px) {
      font-size: 40px;
      line-height: 64px;
    }
  }

  .find-us {
    font-family: 'Tommy', serif;
    font-size: 20px;
    line-height: 56px;
    font-weight: 400;
    color: #2D2D2D;
    @media (min-width: 768px) {
      font-size: 30px;
      line-height: 64px;
    }

    a {
      text-decoration-style: wavy;
      //text-decoration: none;
      color: red;
    }
  }
}

.membership {
  color: #2D2D2D;
  padding-top: 80px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .membership_heading_1 {
    font-weight: 300;
    font-family: 'Tommy', sans-serif;
    font-size: 1.3rem;
    line-height: 40px;
    padding: 0 15px ;

    @media (max-width: 576px) {
      padding: 0 15px;
      line-height: 35px;
      font-size: 1.3rem;
      //text-align: justify;
    }
    @media (min-width: 576px) and (max-width: 768px){
      //padding: 40px 0;
      font-size: 1.3rem;
      padding: 0;
      //text-align: justify;
      //width: 75%;
    }
    @media (min-width: 768px) and (max-width: 992px){
      padding: 40px 0;
      font-size: 1.5rem;
      text-align: justify;
      //width: 75%;
    }
    @media screen and (min-width: 992px){
      padding: 40px 0;
      font-size: 1.8rem;
      text-align: justify;
    }
  }

  .membership_heading_2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    @media (max-width: 576px) {
      line-height: 35px;
      font-family: 'Tommy', sans-serif;
      font-size: 1.3rem;
      font-weight: bold;
      //text-align: justify;
    }
    @media (min-width: 576px) and (max-width: 768px){
      //padding: 40px 0;
      font-size: 1.5rem;
      padding: 0;
      //text-align: justify;
      //width: 75%;
    }
    @media (min-width: 768px) and (max-width: 992px){
      padding: 40px 0;
      font-size: 1.8rem;
      //text-align: justify;
      //width: 75%;
    }
    @media screen and (min-width: 992px){
      padding: 40px 0;
      font-size: 2.2rem;
      text-align: justify;
    }
  }

  .membership_heading {
    font-size: 24px;
    line-height: 32px;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    @media (min-width: 1025px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .membership_content {
    font-style: normal;
    font-weight: 400;
    font-family: 'Tommy', sans-serif;
    font-size: 0.9rem;
    line-height: 24px;
    //opacity: 0.8;
  }
}

.approach {
  color: #2D2D2D;
  background-color: #faf0e6;
  padding-top: 80px;
  padding-bottom: 80px;
  @media (min-width: 768px) {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .approach_1 {
    font-weight: 300;
    font-family: 'Tommy', sans-serif;
    line-height: 40px;
    padding: 0 24px 24px;

    @media (max-width: 576px) {
      font-size: 1.4rem;
      padding: 0 15px;
      line-height: 35px;
      //text-align: justify;
    }
    @media (min-width: 576px) and (max-width: 768px){
      //padding: 40px 0;
      font-size: 1.3rem;
      padding: 0;
      //text-align: justify;
      //width: 75%;
    }
    @media (min-width: 768px) and (max-width: 992px){
      padding: 40px 0;
      font-size: 1.5rem;
      text-align: justify;
      //width: 75%;
    }
    @media screen and (min-width: 992px){
      padding: 40px 0;
      font-size: 1.8rem;
      text-align: justify;
    }
  }

  .approach_2 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    @media (max-width: 576px) {
      font-size: 1.4rem;
      line-height: 35px;
      font-family: 'Tommy', sans-serif;
      font-weight: bold;
      //text-align: justify;
    }
    @media (min-width: 576px) and (max-width: 768px){
      //padding: 40px 0;
      font-size: 1.5rem;
      padding: 0;
      //text-align: justify;
      //width: 75%;
    }
    @media (min-width: 768px) and (max-width: 992px){
      padding: 40px 0;
      font-size: 1.8rem;
      text-align: justify;
      //width: 75%;
    }
    @media screen and (min-width: 992px){
      padding: 40px 0;
      font-size: 2.2rem;
      text-align: justify;
    }
  }

  .carousel-control-prev {
    left: 25%;
    bottom: -50%;
  }

  .carousel-control-next {
    bottom: -50%;
    right: 25%;
  }

  .arrow-prev {
    transform: rotate(360deg);
  }

  .arrow-next {
    transform: rotate(-180deg);
  }

  .approach_carousel {
  //.trying {
  //  @media  (max-width: 576px) {
  //    display: none;
  //  }
  //}

  .carousel_item_image {
    min-height: 350px;
    object-fit: cover;
    @media (max-width: 768px) {
      object-fit: fill;
    }
  }
    .hide_in_mobile{
      @media (max-width: 576px) {
        display: none;
      }
    }
    .hide_in_tablet{
      @media (max-width: 992px) {
        display: none;
      }
    }
  .approach_carousel_item_title {
    margin-top: 24px;
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 1025px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .approach_carousel_item_content {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Tommy', sans-serif;
    @media (min-width: 1025px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

}

.our_standard {
  color: #2D2D2D;
  position: relative;
  overflow: hidden;

  .our_standard_imageright{
    position: absolute;
    height: 30rem;
    right: -0.9rem;
    bottom: 0;
    @media screen and (max-width: 992px){
      opacity: 15%;
      display: none;
    }
    @media screen and (min-width: 992px){
      opacity: 45%;
    }
  }
  .our_standard_imageleft{
    position: absolute;
    height: 30rem;
    bottom: 0;
    left: -0.9rem;

    @media screen and (max-width: 992px){
      opacity: 10%;
    }
    @media screen and (min-width: 992px){
      opacity: 45%;
    }

  }

  @media (min-width: 768px) {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .our_standard_heading {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding: 0 24px 24px;
    ////opacity: 0.95;
    @media (min-width: 1025px) {
      font-size: 40px;
      line-height: 48px;
    }
    @media (min-width: 768px) {
      padding: 40px 0;
      //width: 75%;
    }
    @media (max-width: 768px) {
      padding: 24px 0;
      //width: 75%;
    }
  }

  .standard_title {
    font-size: 20px;
    line-height: 32px;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    margin: 0 0 1em;
    //opacity: 0.9;
    @media (min-width: 1025px) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  ul {
    li {
      font-size: 14px;
      line-height: 24px;
      font-family: 'Tommy', sans-serif;
      margin-bottom: .5em;
      //opacity: 0.9;
      @media (min-width: 1025px) {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

.footer {
  position: relative;
  background-color: #2d2d2d;
  width: 100%;
  //padding: 0 0 24px;
  padding-bottom: 80px;
  color: #FAFAFA;
  @media (min-width: 1025px) {
    padding: 80px 0;
  }

  .footer-logo {
    width: 225px;
    height: auto;
  }

  .footer_heading {
    font-size: 20px;
    line-height: 32px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    margin: 0 0 1em;
  }

  .footer_title {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #b9beb9;
    line-height: 24px;
  }

  .footer_links {
    color: #fff;
    text-decoration: none;
    display: block;
    outline-offset: 1px !important;
    font-size: 14px;
  }
}
.credit{
  display: flex;
  align-items: center;
  justify-content: right ;
  position: absolute;
  width: 320px;
  min-width: 150px;
  background: #2d2d2d;
  bottom: 0;
  right: 0;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  font-family: 'Tommy', serif;;

  span {
    cursor: pointer;
    position: relative;
    font-size: 0.9rem;
    &.hide {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    &.show {
      opacity: 1;
      transition:  opacity 0.5s ease-in-out;
    }
  };
  h6{
    &.hide {
      opacity: 0;
      position: absolute;
      right: 0;
      cursor: default;
      transition: opacity 0.5s ease-in-out;
    }
    &.show {
      opacity: 1;
      position: absolute;
      right: 0;
      cursor: none;
      transition:  opacity 0.5s ease-in-out;
    }
  };
  a {
    padding-right: 5px;
    font-family: 'Tommy', sans-serif;;
    color: indianred;
    &.hide {
      cursor: default;
    }
    &.show {
      cursor: pointer;
    }
  }
}
